@font-face {font-family:"HelveticaNeueCyrLight"; src:url("../fonts/helveticaneue-light-webfont.eot"); src:url("../fonts/helveticaneue-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-light-webfont.woff") format("woff"), url("../fonts/helveticaneue-light-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-light-webfont.svg#helveticaneuecyrlight") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"HelveticaNeueCyrRoman"; src:url("../fonts/helveticaneuecyr-roman-webfont.eot"); src:url("../fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"HelveticaNeueCyrBold"; src:url("../fonts/helveticaneuecyr-bold-webfont.eot"); src:url("../fonts/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold") format("svg"); font-weight:normal; font-style:normal}
@font-face {font-family:"HelveticaNeueCyrMedium"; src:url("../fonts/helveticaneue-medium-webfont.eot"); src:url("../fonts/helveticaneue-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-medium-webfont.woff") format("woff"), url("../fonts/helveticaneue-medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-medium-webfont.svg#helveticaneuecyrmedium") format("svg"); font-weight:normal; font-style:normal}

html {min-width:1000px; font-size:62.5%}

body {min-width:1000px; margin:0; padding:0; font:1.4em/1.3em "PT Sans", sans-serif; color:#393939; background:#fff}
body.font-mini {font-size:1em}
body.font-max {font-size:1.8em}

a {color:#1ab157; outline:none}
a:hover {text-decoration:none}

img {border:none}

.wrapper {min-width:1000px; width:100%; position:relative; overflow:hidden}

.top {width:940px; margin:0 auto; padding:0 0 14px 0}
.top:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.top-social {float:right; padding:10px 0 0 0; line-height:0}
.top-social a {float:left; margin:0 0 0 3px}

.top-img-visible {float:right; margin:15px 119px 0 0; cursor:pointer}
.top-img-visible-title {float:left; line-height:13px; font-size:.9em; color:#000; padding:0 7px 0 0}
.top-img-visible-title em {font-style:normal; display:none}
.top-img-visible-checkbox {float:left; width:13px; height:13px; background:url(../images/checkbox.png); position:relative; overflow:hidden}
.top-img-visible.checked .top-img-visible-checkbox {background-position:left -13px}
.top-img-visible-checkbox input {position:absolute; left:-99px; top:-99px}

.top-scheme {float:right; margin:10px 40px 0 0}
.top-scheme-title {float:left; line-height:21px; font-size:.9em; color:#000; padding:0 4px 0 0}
.top-scheme a {float:left; width:18px; margin:0 0 0 2px; height:19px; font-size:14px; line-height:19px; text-align:center; font-family:HelveticaNeueCyrMedium, sans-serif; position:relative; text-decoration:none; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
.top-scheme a.top-scheme-1 {color:#000; background:#fff; border:1px solid #fff}
.top-scheme a.top-scheme-2 {color:#fff; background:#000; border:1px solid #000}
.top-scheme a.top-scheme-3 {color:#fff; background:#005ab6; border:1px solid #005ab6}
.top-scheme a.active {border-color:#1ab157}

.top-font-size {float:right; margin:10px 40px 0 0}
.top-font-size-title {float:left; line-height:21px; font-size:.9em; color:#000; padding:0 4px 0 0}
.top-font-size a {float:left; width:18px; margin:0 0 0 2px; height:19px; line-height:19px; text-align:center; font-family:HelveticaNeueCyrMedium, sans-serif; color:#000; position:relative; text-decoration:none; border:1px solid #fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
.top-font-size a.top-font-size-1 {font-size:10px}
.top-font-size a.top-font-size-2 {font-size:14px}
.top-font-size a.top-font-size-3 {font-size:18px}
.top-font-size a.active {border-color:#1ab157}

header {background:#008652}
.header-inner {height:53px; width:940px; margin:0 auto; position:relative}

.logo {position:absolute; left:-43px; top:0; width:219px; height:53px; background:url(../images/logo-bg.png); line-height:0}
.logo img {display:none; position:absolute; left:43px; top:-17px}
.logo img:first-child {display:block}

nav {position:absolute; right:-20px; top:0; text-transform:uppercase; font-family:HelveticaNeueCyrMedium, sans-serif}
nav ul {display:table; margin:0; padding:0; list-style:none}
nav ul li {display:table-cell; margin:0; padding:0 10px; height:53px; vertical-align:middle}
nav ul li a {display:block; color:#fff; text-decoration:none; padding:7px 10px; position:relative; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
nav ul li a:hover {background:#0a9754}
nav ul li.active a {background:#1ab157}

.subheader {width:940px; margin:0 auto; border-bottom:1px solid #e5f3ed; padding:30px 0 40px 0}
.subheader:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.subheader-map {float:left}
.subheader-map-img {float:left; line-height:0}
.subheader-map-text {float:left; width:266px; padding:0 0 0 14px}
.subheader-map-title {font-family:HelveticaNeueCyrRoman, sans-serif; color:#b9c6be; padding:13px 0 0 0}
.subheader-map-link {display:inline-block; vertical-align:top; text-decoration:none; font-size:1.2em; color:#1ab157; font-weight:bold}
.subheader-map-link span {display:inline-block; vertical-align:middle; background:url(../images/dots-1.png) repeat-x left bottom}
.subheader-map-link:hover span {background:none}
.subheader-map-link img {vertical-align:middle; margin:0 0 0 4px}

.subheader-address {float:left; padding:13px 35px 0 0}
.subheader-phone {float:left; padding:13px 0 0 0}
.subheader-title {font-family:HelveticaNeueCyrRoman, sans-serif; color:#b9c6be}
.subheader-text {font-weight:bold; font-size:1.2em; color:#000; padding:2px 0 0 0}

.subheader-feedback-link {float:right; padding:15px 0 0 0; position:relative}
.subheader-feedback-link a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; font-size:1.2em; font-family:HelveticaNeueCyrMedium, sans-serif; background:#f6861f; padding:8px 20px 10px 20px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.subheader-feedback-link a:hover {background:#f66b1f}
.subheader-feedback-link a:active {background:#d45916}

.container {max-width:940px; margin:0 auto}
.container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.side {float:left; width:180px; padding:44px 0 0 0}

.side-menu {font:1em/1.3em HelveticaNeueCyrRoman, sans-serif}
.side-menu ul {margin:0; padding:0; list-style:none}
.side-menu ul li {margin:0; padding:1px 0; position:relative}
.side-menu ul li a {color:#1ab157; text-decoration:none; position:relative; display:block; margin:0 -20px; padding:7px 55px 9px 20px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url(./js/PIE.htc)}
.side-menu ul li a:hover,
.side-menu ul li.active a {color:#fff; background:#008652}

.side-item {margin:3em 0 4em 0}
.side-item-photo {width:144px; height:144px; position:relative; line-height:0; overflow:hidden}
.side-item-photo img {-moz-border-radius:72px; -webkit-border-radius:72px; border-radius:72px; behavior:url(./js/PIE.htc)}
.side-item-name {font:normal 1.3em/1em HelveticaNeueCyrRoman, sans-serif; color:#f6861f; padding:1em 0 0 0}
.side-item-name a {text-decoration:none; color:#f6861f}
.side-item-name a:hover {text-decoration:underline}
.side-item-date {color:#008652; font-size:.9em; margin:1px 0 0 0; padding:0 0 0 15px; background:url(../images/side-item-date.png) no-repeat left center}
.side-item-anonce {margin:1em 0 0 0}
.side-item-group {color:#1ab157; font-family:HelveticaNeueCyrLight, sans-serif; margin:1em 0 0 0}
.side-item-group a {color:#1ab157; text-decoration:none}
.side-item-group a:hover {text-decoration:underline}
.side-item-link {display:block; margin:.5em 0; padding:7px 0 10px 0; position:relative; text-decoration:none; text-align:center; font-family:HelveticaNeueCyrRoman, sans-serif; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.side-item-name+.side-item-link {margin-top:1.5em}
.side-item-link-1 {background:#008652}
.side-item-link-1:hover {background:#008629}
.side-item-link-1:active {background:#095d23}
.side-item-link-2 {background:#1ab157}
.side-item-link-2:hover {background:#208600}
.side-item-link-2:active {background:#1b6204}

.content {float:right; width:700px}
.content h1 {margin:1em 0 .6em 0; padding:0; font:normal 2.6em/1em HelveticaNeueCyrRoman, sans-serif; color:#f6861f}
.content h2 {margin:1.5em 0 .8em 0; padding:0; font:normal 1.7em/1em HelveticaNeueCyrRoman, sans-serif; color:#f6861f}
.content h3 {margin:1.9em 0 1em 0; padding:0; font:normal 1.3em/1em HelveticaNeueCyrRoman, sans-serif; color:#008652}
.content h2+h3 {margin-top:1em}
.content h4 {margin:2.6em 0 1.2em 0; padding:0; font:normal 1em/1.3em HelveticaNeueCyrBold, sans-serif; color:#1ab157}
.content h3+h4 {margin-top:1em}
.content p {margin:1em 0; padding:0}
.content blockquote {font-style:italic; color:#000; background:#f6fcfa; padding:16px 20px 20px 20px; margin:1.5em 0}
.content blockquote strong {font-style:normal}
.content hr {height:1px; background:#a1c040; border:none; margin:2em 0 3.3em 0; padding:0}
.content ul {margin:1em 0; padding:0; list-style:none}
.content ul li {margin:1.3em 0; padding:0 0 0 18px; background:url(../images/li.png) no-repeat left .3em}
.content ul li ul {margin:0}
.content ul li ul li {margin:.5em 0; background:url(../images/lili.png) no-repeat 3px .3em}
.content ol {margin:1em 0; padding:0 0 0 18px; list-style:none; counter-reset:point}
.content ol li {margin:0; padding:0}
.content ol li:before {content:counter(point)". "; counter-increment:point 1; font-weight:bold; color:#000}
.content table {width:100%; border-collapse:collapse; margin:2em 0; border-bottom:2px solid #f6861f}
.content table th {color:#fff; font:normal 1.3em/1em HelveticaNeueCyrRoman, sans-serif; vertical-align:middle; padding:17px 20px 19px 20px; text-align:center; background:#f6861f}
.content table th:first-child {text-align:left}
.content table td {vertical-align:middle; padding:7px 20px 9px 20px; text-align:center; color:#333; border-top:1px solid #d6d6d6}
.content table tbody tr:first-child td {border-top:none}
.content table td:first-child {text-align:left; font-size:1.3em; line-height:1em; color:#000}
.content form {margin:1em 0; padding:0}

.text-old {text-decoration:line-through; color:#898989}

.message {color:#fff; font-style:italic; padding:16px 20px 19px 20px; margin:1em 0}
.message-success {background:#1ab157}
.message-error {background:#f66b1f}

.form-field {margin:2em 0}
.form-field:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-col {float:left}
.form-label {font:normal 1.3em/1em HelveticaNeueCyrRoman, sans-serif; color:#008652}
.form-label span {color:#f00}
.form-input {position:relative; margin:8px 0 0 0}
.form-input input {width:440px; vertical-align:top; height:18px; background:#fff; border:1px solid #ccc; color:#000; font:1em/1.3em "PT Sans", sans-serif; margin:0; padding:6px 9px 9px 9px; outline:none}
.form-input input.error {outline:2px solid #f66b1f; border-color:#f66b1f}
.form-input label.error {position:absolute; left:481px; top:0; color:#f66b1f; white-space:nowrap; display:block; background:#fff; padding:7px 0 10px 0}
.form-input-2 input {width:230px; margin:0 20px 0 0}
.form-input-3 input {width:170px}
.form-input-3 label.error {left:211px}
.form-input textarea {width:440px; vertical-align:top; height:90px; background:#fff; border:1px solid #ccc; color:#000; font:1em/1.3em "PT Sans", sans-serif; margin:0; padding:6px 9px 9px 9px; outline:none; overflow:auto; resize:none}
.form-input textarea.error {outline:2px solid #f66b1f; border-color:#f66b1f}
.form-hint {font-size:12px; padding:0 0 0 10px; font-style:italic}
.form-radios {position:relative; margin:15px 0 9px -20px; font-style:italic; font-size:0; line-height:0; letter-spacing:-1px}
.form-radio {display:inline-block; vertical-align:top; position:relative; padding:0 0 0 16px; margin:0 0 0 30px; cursor:pointer; font-size:14px; line-height:18px; letter-spacing:0}
.form-radio span {display:block; position:absolute; left:0; top:3px; width:12px; height:12px; background:url(../images/radio.png); overflow:hidden}
.form-radio span.checked {background-position:left -12px}
.form-radio span input {position:absolute; left:-99px; top:-99px}
.form-checkboxes {position:relative; margin:15px 0 9px -20px; font-size:0; line-height:0; letter-spacing:-1px}
.form-checkbox {display:inline-block; vertical-align:top; position:relative; padding:0 0 0 16px; margin:0 0 0 30px; cursor:pointer; font-size:14px; line-height:18px; letter-spacing:0}
.form-checkbox span {display:block; position:absolute; left:0; top:2px; width:13px; height:13px; background:url(../images/checkbox.png); overflow:hidden}
.form-checkbox span.checked {background-position:left -13px}
.form-checkbox span input {position:absolute; left:-99px; top:-99px}
.form-submit {position:relative; padding:35px 0 0 0}
.form-submit input {vertical-align:top; position:relative; height:2em; border:none; margin:0; padding:0 70px; outline:none; color:#fff; cursor:pointer; font:1.3em/2em "PT Sans", sans-serif; background:#f6861f; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.form-submit input:hover {background:#f66b1f}
.form-submit input:active {background:#d45916}
.form-select {margin:8px 0 0 0; position:relative}
.form-select-1 {float:left; width:225px; margin-right:10px}
.form-select-2 {float:left; width:225px}
.form-select label.error {position:absolute; left:481px; top:0; color:#f66b1f; white-space:nowrap; display:block; background:#fff; padding:7px 0 10px 0}
.form-select-2 label.error {left:246px}
.form-select select {width:100%}

.window-import-link {width:100%; height:20px; position:relative; overflow:hidden}
.window-import-link:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.fileupload {margin:0; padding:0}
.fileinput-button {float:left; font-family:HelveticaNeueCyrRoman, sans-serif; position:relative; overflow:hidden; cursor:pointer}
.fileinput-button.disabled {display:none}
.fileinput-button span {color:#1ab157; background:url(../images/dots-1.png) repeat-x left bottom}
.fileinput-button:hover span {background:none}
.fileinput-button input {position:absolute; top:0; right:0; margin:0; opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); background:url(../images/blank.gif); font-size:200px; cursor:pointer}
.files-list {margin:1em 0}
.files-list table {border-collapse:collapse; margin:0; border:none; width:auto}
.files-list table td {padding:6px 0; vertical-align:middle; border:none; text-align:left}
.files-item-icon {width:23px; height:24px}
.files-item-icon-xls {background:url(../images/file-icon-xls.png)}
.files-item-icon-pdf {background:url(../images/file-icon-pdf.png)}
.files-item-icon-doc {background:url(../images/file-icon-doc.png)}
.files-item-icon-error {background:url(../images/file-icon-error.png)}
.files-item-name {line-height:22px; color:#000; position:relative; padding:0 10px; margin:0 0 0 5px}
.files-item-name span {position:relative}
.progress {position:absolute; left:0; top:0; width:100%; height:22px; border:1px solid #c1c7c7}
.progress-bar {float:left; position:absolute; left:0; top:0; height:22px; background:#d2e6d1; transition: width 0.6s ease 0s}
.files-item-del {float:left; width:19px; height:19px; background:url(../images/file-del.png); margin:2px 12px 0 12px; border:none; vertical-align:top; padding:0; overflow:visible; cursor:pointer}
.files-item-stop {float:left; width:19px; height:19px; background:url(../images/file-stop.png); margin:2px 12px 0 12px; border:none; vertical-align:top; padding:0; overflow:visible; cursor:pointer}
.files-item-error {float:left; line-height:22px; color:#f66b1f; margin:0 0 0 2px}

.bottom {background:#008652 url(../images/bottom-bg.png) no-repeat center top; padding:194px 0 47px 0}
.bottom-inner {width:960px; margin:0 auto}
.bottom-title {color:#fff; text-align:center; text-transform:uppercase; font:normal 1.7em/1em HelveticaNeueCyrRoman, sans-serif}
.bottom-slider {width:100%; position:relative; overflow:hidden}
.bottom-slider ul {margin:0; padding:0; position:relative; list-style:none; width:9999px}
.bottom-slider ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.bottom-slider ul li {float:left; width:240px; margin:0; padding:38px 0 56px 0; text-align:center}
.bottom-slider ul li a {text-decoration:none; color:#fff; display:inline-block; vertical-align:top; position:relative}
.bottom-slider ul li a:hover {color:#34db77}
.bottom-item-img {position:relative; width:115px; height:115px; line-height:0}
.bottom-item-img div {position:absolute; left:0; top:0; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease}
.bottom-item-img img {border:3px solid #1ab157; position:relative; -moz-border-radius:58px; -webkit-border-radius:58px; border-radius:58px; behavior:url(./js/PIE.htc)}
.bottom-slider ul li a:hover .bottom-item-img div {left:35px; top:-35px}
.bottom-slider ul li a:hover .bottom-item-img div+div {left:-35px; top:35px}
.bottom-slider ul li a:hover .bottom-item-img div+div+div {left:-35px; top:-35px}
.bottom-slider ul li a:hover .bottom-item-img div+div+div+div {left:35px; top:35px}
.bottom-slider ul li a:hover .bottom-item-img img {-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); box-shadow:1px 1px 5px rgba(0, 0, 0, .75)}
.bottom-item-title {text-align:center; padding:1.2em 0 0 0}
.bottom-slider-ctrl {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; position:relative}
.bottom-slider-ctrl a {display:inline-block; position:relative; width:12px; height:12px; margin:0 3px; border:2px solid #33e079; background:url(../images/blank.gif); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; behavior:url(./js/PIE.htc)}
.bottom-slider-ctrl a.active {background:#33e079}

.main-news {background:#fff url(../images/main-news-bg-left.png) no-repeat; margin:0 0 42px 0}
.main-news-inner {background:url(../images/main-news-bg-right.png) no-repeat right bottom}
.main-news-wrap {width:940px; margin:0 auto; padding:30px 0 22px 0}
.main-news-title {text-align:center; text-transform:uppercase; color:#f6861f; font:normal 1.7em/1em HelveticaNeueCyrRoman, sans-serif}
.main-news-slider {width:100%; position:relative; overflow:hidden; padding:35px 0 0 0}
.main-news-slider ul {margin:0; padding:0; position:relative; list-style:none; width:9999px}
.main-news-slider ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-news-slider ul li {float:left; width:240px; margin:0; padding:0}
.main-news-slider ul li a {display:inline-block; vertical-align:top; text-decoration:none}
.main-news-name {width:220px; color:#000}
.main-news-slider ul li a:hover .main-news-name {color:#1ab157}
.main-news-date {width:220px; font-size:.9em; color:#008652; padding:.7em 0 0 0}
.main-news-end {position:relative; margin:31px 0 0 0}
.main-news-ctrl {position:absolute; left:0; top:50%; margin-top:-8px; width:100%; text-align:center; font-size:0; line-height:0; letter-spacing:-1px}
.main-news-ctrl a {display:inline-block; position:relative; width:12px; height:12px; margin:0 3px; border:2px solid #f6861f; background:url(../images/blank.gif); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; behavior:url(./js/PIE.htc)}
.main-news-ctrl a.active {background:#f6861f}
.main-news-all {display:inline-block; position:relative}
.main-news-all a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; background:#f6861f; padding:4px 17px 6px 17px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.main-news-all a:hover {background:#f66b1f}
.main-news-all a:active {background:#d45916}

.main {width:960px; margin:-4px auto 44px auto}
.main:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-item {float:left; width:320px}
.main-item-img {width:202px; margin:0 auto; line-height:0}
.main-item-img img {position:relative; -moz-border-radius:101px; -webkit-border-radius:101px; border-radius:101px; behavior:url(./js/PIE.htc)}
.main-item-slider {width:202px; height:202px; line-height:0; margin:0 auto; position:relative}
.main-item-slider-prev,
.main-item-slider-next {position:absolute; top:50%; margin-top:-18px; display:block; width:53px; height:36px; background:#f6861f; color:#fff; line-height:32px; text-decoration:none; font-family:arial, helvetica, sans-serif; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.main-item-slider-prev {left:-35px; padding:0 0 0 12px}
.main-item-slider-next {right:-35px; padding:0 12px 0 0; text-align:right}
.main-item-slider-prev:hover,
.main-item-slider-next:hover {background:#f66b1f}
.main-item-slider-prev:active,
.main-item-slider-next:active {background:#d45916}
.main-item-slider-content {position:relative; width:100%; overflow:hidden}
.main-item-slider-content ul {margin:0; padding:0; position:relative; width:9999px; list-style:none}
.main-item-slider-content ul li {float:left; width:220px; margin:0; padding:0}
.main-item-slider-content ul li img {position:relative; -moz-border-radius:101px; -webkit-border-radius:101px; border-radius:101px; behavior:url(./js/PIE.htc)}
.main-item-name {width:270px; margin:0 auto; text-align:center; font:1.3em/1.2em HelveticaNeueCyrRoman, sans-serif; color:#fff; padding:1em 0 0 0}
.main-item-name a {color:#fff; text-decoration:none}
.main-item-name a:hover {text-decoration:underline}
.main-item-date {color:#c8f0e0; font-size:.9em; margin:1px 0 0 0; text-align:center}
.main-item-date img {vertical-align:middle; margin:0 5px 0 0}
.main-item-anonce {text-align:center; width:270px; color:#fff; margin:1em auto 0 auto}
.main-item-group {color:#33e079; font:1.3em/1.2em HelveticaNeueCyrLight, sans-serif; margin:.8em auto 0 auto; width:270px; text-align:center}
.main-item-group a {color:#33e079; text-decoration:none}
.main-item-group a:hover {text-decoration:underline}
.main-item-btns {width:200px; margin:0 auto -.5em auto; padding:1em}
.main-item-btns a {display:block; margin:.5em 0 0 0; padding:11px 0 15px 0; position:relative; text-decoration:none; text-align:center; font-family:HelveticaNeueCyrRoman, sans-serif; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.main-item-btn-1 {background:#1ab157}
.main-item-btn-1:hover {background:#208600}
.main-item-btn-1:active {background:#1b6204}
.main-item-btn-2 {background:#0d9c55}
.main-item-btn-2:hover {background:#208600}
.main-item-btn-2:active {background:#1b6204}

.slider {width:940px; margin:34px auto -94px auto; position:relative; z-index:2}
.slider-content {width:100%; position:relative; overflow:hidden}
.slider-content ul {margin:0; padding:0; position:relative; width:9999px; list-style:none}
.slider-content ul li {float:left; width:940px; margin:0; padding:0}
.slider-item {display:table; width:100%}
.slider-item-text {display:table-cell; vertical-align:middle}
.slider-item-photo {display:table-cell; vertical-align:middle; line-height:0; vertical-align:middle; width:302px; padding:0 0 0 88px}
.slider-item-photo img {position:relative; -moz-border-radius:151px; -webkit-border-radius:151px; border-radius:151px; behavior:url(./js/PIE.htc)}
.slider-item-title {text-transform:uppercase; color:#f6861f; font:1.7em/1.6em HelveticaNeueCyrRoman, sans-serif}
.slider-item-title span {font-size:2em}
.slider-item-title a {color:#f6861f; text-decoration:none}
.slider-item-title a:hover {color:#f66b1f}
.slider-item-title a:active {color:#d45916}
.slider-item-anonce {color:#000; font-size:1.3em; line-height:1.3em; padding:17px 0 0 0}
.slider-item-ctrl {position:relative; font-size:0; line-height:0; letter-spacing:-1px; padding:26px 0 0 0}
.slider-item-ctrl a {display:inline-block; position:relative; width:12px; height:12px; margin:0 3px; border:2px solid #f6861f; background:url(../images/blank.gif); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; behavior:url(./js/PIE.htc)}
.slider-item-ctrl a.active {background:#f6861f}
.slider-all {text-align:center; position:relative; margin:-3px 0 0 0}
.slider-all a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; background:#f6861f; font-family:HelveticaNeueCyrRoman, sans-serif; padding:6px 20px 8px 20px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.slider-all a:hover {background:#f66b1f}
.slider-all a:active {background:#d45916}

.team-main {width:100%}
.team-main:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.team-photo {float:left; line-height:0; width:140px; position:relative}
.team-photo img {position:relative; -moz-border-radius:70px; -webkit-border-radius:70px; border-radius:70px; behavior:url(./js/PIE.htc)}
.team-container {margin-left:160px}
.team-container h3 {margin:0; padding:13px 0 0 0}
.team-post {font-size:.9em}
.team-contacts {font-size:.9em; margin:1em 0 0 0}
.team-contacts p {margin:0}
.team-contacts a {text-decoration:none}
.team-contacts a:hover {text-decoration:underline}
.team-time {font-size:.9em; margin:1em 0 0 0}
.team-detail {margin:1em 0 0 160px; font-size:.9em; color:#808080}
.team-row {width:100%; margin:2em 0}
.team-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.team-col {float:right; width:340px}
.team-col:first-child {float:left; width:340px}

.news-item {width:100%; border-top:1px solid #eaeaea; padding:26px 0 28px 0}
.news-item:first-child {border-top:none; padding-top:0}
.news-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.news-item-photo {float:left; width:144px; line-height:0; position:relative}
.news-item-photo img {position:relative; -moz-border-radius:72px; -webkit-border-radius:72px; border-radius:72px; behavior:url(./js/PIE.htc)}
.news-item-container {margin-left:164px}
.news-item-container-wrap {display:table; width:100%}
.news-item-container-inner {display:table-cell; vertical-align:middle; height:144px}
.news-item-name {font:normal 1.3em/1em HelveticaNeueCyrRoman, sans-serif}
.news-item-name a {text-decoration:none}
.news-item-name a:hover {text-decoration:underline}
.news-item-anonce {color:#000; margin:1em 0 0 0}
.news-item-date {color:#f6861f; margin:1em 0 0 0; font-size:.9em}
.news-more {border-top:1px solid #eaeaea; padding:26px 0 0 164px}
.events-more {padding-left:0; text-align:center}
.news-more a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; background:#f6861f; font-size:1.2em; font-family:HelveticaNeueCyrRoman, sans-serif; padding:8px 23px 10px 23px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.news-more a:hover {background:#f66b1f}
.news-more a:active {background:#d45916}

.news-detail-date {font:1.2em/1.3em HelveticaNeueCyrRoman, sans-serif; color:#008652}
.news-author {font-weight:bold; padding:1em 20px}

.news-detail-social {line-height:0; width:100%; margin:1em 0}
.news-detail-social:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.news-detail-social img {float:left; margin:0 5px 0 0}

.mobile-visible {display:none}

.back {position:relative}
.back-gallery {width:100%; padding:31px 0 0 0}
.back-gallery:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.back-link {position:absolute; left:0; top:31px; display:block; padding:2px 10px 4px 10px; background:#fff; text-decoration:none; -moz-border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0; behavior:url(./js/PIE.htc)}
.back-gallery .back-link {position:relative; left:auto; top:auto; float:left; background:#f6861f; color:#fff}
.back-link span {font-family:arial, helvetica, sans-serif}
.back-link:hover {text-decoration:underline}

.container-wide .content {float:none; width:100%}
.container-wide .content h1 {text-align:center}

.events-slider {width:100%; position:relative; overflow:hidden; background:#008652 url(../images/events-slider.png) no-repeat center bottom; padding:17px 0; margin:0 0 2em 0}
.events-slider-container {position:relative; width:940px; overflow:hidden; margin:0 auto}
.events-slider-container ul {margin:0; padding:0; position:relative; width:9999px; list-style:none}
.events-slider-container ul li {float:left; width:940px; margin:0; padding:0}
.events-slider-item {display:table; width:100%}
.events-slider-item-text {display:table-cell; vertical-align:middle}
.events-slider-item-photo {display:table-cell; vertical-align:middle; line-height:0; vertical-align:middle; width:254px; padding:0 0 0 70px}
.events-slider-item-photo img {position:relative; -moz-border-radius:127px; -webkit-border-radius:127px; border-radius:127px; behavior:url(./js/PIE.htc)}
.events-slider-item-title {text-transform:uppercase; color:#fff; font:1.3em/1.6em HelveticaNeueCyrRoman, sans-serif}
.events-slider-item-title span {font-size:2em; display:block}
.events-slider-item-title a {color:#fff; text-decoration:none}
.events-slider-item-title a:hover {text-decoration:underline}
.events-slider-item-info {text-transform:uppercase; color:#c8f0e0; width:100%; margin:1em 0 2px 0}
.events-slider-item-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.events-slider-item-date {float:left; padding:0 0 0 17px; background:url(../images/events-slider-item-date.png) no-repeat left center}
.events-slider-item-place {float:left; padding:0 0 0 17px; margin:0 0 0 34px; background:url(../images/events-slider-item-place.png) no-repeat left center}
.events-slider-item-anonce {color:#fff; padding:17px 0 0 0}
.events-slider-item-ctrl {position:relative; font-size:0; line-height:0; letter-spacing:-1px; padding:26px 0 0 0}
.events-slider-item-ctrl a {display:inline-block; position:relative; width:12px; height:12px; margin:0 3px; border:2px solid #fff; background:url(../images/blank.gif); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; behavior:url(./js/PIE.htc)}
.events-slider-item-ctrl a.active {background:#fff}

.events-item-info {color:#f6861f; width:100%; margin:1em 0 1.5em 0}
.events-item-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.events-item-date {float:left; padding:0 0 0 17px; background:url(../images/events-item-date.png) no-repeat left center}
.events-item-place {float:left; padding:0 0 0 17px; margin:0 0 0 34px; background:url(../images/events-item-place.png) no-repeat left center}

.events-detail-info {width:100%; font-size:1.7em; line-height:1.3em; margin:1em 0 1.5em 0; text-align:center}
.events-detail-date {display:inline-block; vertical-align:middle; padding:0 0 0 30px; margin:0 15px; background:url(../images/events-detail-date.png) no-repeat left center}
.events-detail-place {display:inline-block; vertical-align:middle; padding:0 0 0 30px; margin:0 15px; background:url(../images/events-detail-place.png) no-repeat left center}
.events-detail-length {display:inline-block; vertical-align:middle; padding:0 0 0 30px; margin:0 15px; background:url(../images/events-detail-length.png) no-repeat left center}
.events-detail-author {display:inline-block; vertical-align:middle; padding:0 0 0 30px; margin:0 15px; background:url(../images/events-detail-author.png) no-repeat left center}

.map-wrap {width:100%; margin:2em 0 -151px 0; position:relative; overflow:hidden}
.map {width:100%; height:493px; position:relative}
.map-contacts {height:670px}
.map-bottom {position:absolute; left:0; bottom:0; width:100%; height:151px; background:url(../images/map-bottom.png) no-repeat center top}

.events-back {text-align:center; position:relative; padding:30px 0 0 0}
.events-back a {position:relative; display:inline-block; font-size:.8em; padding:5px 20px; background:#f6861f; color:#fff; text-decoration:none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.events-back a span {font-family:arial, helvetica, sans-serif}
.events-back a:hover {background:#f66b1f}
.events-back a:active {background:#d45916}

.tours {width:940px; position:relative; overflow:hidden}
.tours-list {width:940px; position:relative; margin:0 0 0 -1px}
.tours-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.tour {float:left; border-bottom:1px solid #e5f3ed; width:235px; padding:35px 0}
.tour-wrap {border-left:1px solid #e5f3ed; padding:0 20px}
.tours-list-end {position:relative; height:1px; background:#fff; margin:-1px 0 0 0}
.tour-photo {width:154px; margin:0 auto; position:relative}
.tour-photo a {text-decoration:none; color:#fff; font:1.3em/1.2em HelveticaNeueCyrRoman, sans-serif}
.tour-photo img {position:relative; -moz-border-radius:77px; -webkit-border-radius:77px; border-radius:77px; behavior:url(./js/PIE.htc)}
.tour-photo div {display:table; position:absolute; left:0; top:0}
.tour-photo div span {display:table-cell; width:154px; height:154px; text-align:center; vertical-align:middle}
.tour-name {font:1em/1.3em HelveticaNeueCyrRoman, sans-serif; padding:40px 0 0 0}
.tour-name a {text-decoration:none}
.tour-name a:hover {text-decoration:underline}
.tour-anonce-text {font-size:.9em; margin:1em 0 0 0}
.tour-info {margin:1.5em 0 0 0; font:.9em/1.3em HelveticaNeueCyrRoman, sans-serif; color:#f6861f}
.tour-info a {color:#f6861f}
.tour-info-place {padding:0 0 0 20px; background:url(../images/tour-info-place.png) no-repeat left center}
.tour-info-length {padding:0 0 0 20px; margin:.9em 0 0 0; background:url(../images/tour-info-length.png) no-repeat left center}
.tours-more {text-align:center; padding:20px 0 0 0}
.tours-more a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; background:#f6861f; font-size:1.2em; font-family:HelveticaNeueCyrRoman, sans-serif; padding:8px 23px 10px 23px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.tours-more a:hover {background:#f66b1f}
.tours-more a:active {background:#d45916}

.page-404 {width:662px; margin:0 auto -30px auto; padding:40px 0 0 0; position:relative}
.page-404-img {line-height:0}
.page-404-img img {width:100%}
.page-404-title {font:2.6em/1em HelveticaNeueCyrRoman, sans-serif; color:#f6861f; text-align:center; margin:2em 0 0 0}
.page-404-text {font-size:1.3em; line-height:1em; text-align:center; padding:10px 0 0 0}

.contacts-text {font:1.3em/1.3em HelveticaNeueCyrRoman, sans-serif; text-align:center}
.contacts-text strong {font-weight:normal; font-family:HelveticaNeueCyrMedium, sans-serif}

.gallery-text {text-align:center}

.gallery {width:960px; margin:2em 0 0 -10px}
.gallery:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.gallery-item {float:left; width:140px; height:140px; padding:10px}
.gallery-item-photo {width:140px; height:140px; position:relative; overflow:hidden; line-height:0}
.gallery-item-photo div {position:absolute; left:50%; top:50%; margin:-500px 0 0 -500px; width:1000px; height:1000px; text-align:center; line-height:1000px}
.gallery-item-photo div img {vertical-align:middle}
.gallery-item-photo div span {display:block; width:140px; height:140px; position:absolute; left:50%; top:50%; margin:-70px 0 0 -70px; background:url(../images/gallery-img.png)}
.gallery-item-name {display:none}

.item-gallery {position:fixed; left:-9999px; top:0; width:100%; height:100%; z-index:99997; overflow:auto; background:#000; background:rgba(0, 0, 0, .9)}
.item-gallery-open {left:0}
.item-gallery-container {position:relative; width:940px; margin:0 auto}
.item-gallery-title {font-family:HelveticaNeueCyrRoman, sans-serif; text-align:center; color:#fff; padding:50px 0 0 0}
.item-gallery-group {font:1.7em/1.3em HelveticaNeueCyrRoman, sans-serif; text-align:center; color:#f6861f; padding:2px 0 23px 0}
.item-gallery-big {text-align:center; font-size:0; line-height:0; position:relative}
.item-gallery-big strong {position:relative; display:inline-block; vertical-align:middle}
.item-gallery-big strong img {vertical-align:top}
.item-gallery-prev,
.item-gallery-next {display:block; width:80px; height:100%; position:absolute; top:0; background:#000; background:rgba(0, 0, 0, .5); opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)}
.item-gallery-prev:hover,
.item-gallery-next:hover {opacity:1; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)}
.item-gallery-prev span,
.item-gallery-next span {display:block; width:28px; height:49px; position:absolute; left:50%; top:50%; margin:-25px 0 0 -14px; background:url(../images/item-gallery-arrows.png)}
.item-gallery-prev {left:0}
.item-gallery-next {right:0}
.item-gallery-next span {background-position:-28px top}
.item-gallery-close {display:block; position:absolute; right:-15px; top:-15px; width:29px; height:29px; background:url(../images/window-close.png)}
.item-gallery-close:hover {background-position:left -29px}
.item-gallery-close:active {background-position:left -58px}
.item-gallery-big img {vertical-align:middle; position:relative; -webkit-box-shadow:0 0 13px rgba(0, 0, 0, .2); -moz-box-shadow:0 0 13px rgba(0, 0, 0, .2); box-shadow:0 0 13px rgba(0, 0, 0, .2); behavior:url(./js/PIE.htc)}
.item-gallery-list {width:936px; line-height:0; position:relative; overflow:hidden}
.item-gallery-list ul {position:relative; margin:0; padding:30px 0; list-style:none; width:9999px}
.item-gallery-list ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.item-gallery-list ul li {float:left; margin:0 1px; padding:3px; position:relative; -moz-border-radius:38px; -webkit-border-radius:38px; border-radius:38px; behavior:url(./js/PIE.htc)}
.item-gallery-list ul li.active {padding:0; border:3px solid #f6861f}
.item-gallery-list ul li img {position:relative; -moz-border-radius:35px; -webkit-border-radius:35px; border-radius:35px; behavior:url(./js/PIE.htc)}
.item-gallery-list-prev,
.item-gallery-list-next {position:absolute; top:33px; display:block; width:70px; height:70px; background:#1ab157; -moz-border-radius:35px; -webkit-border-radius:35px; border-radius:35px; behavior:url(./js/PIE.htc)}
.item-gallery-list-prev {left:4px}
.item-gallery-list-next {right:4px}
.item-gallery-list-prev:hover,
.item-gallery-list-next:hover {background:#208600}
.item-gallery-list-prev:active,
.item-gallery-list-next:active {background:#1b6204}
.item-gallery-list-prev span,
.item-gallery-list-next span {display:block; width:13px; height:22px; position:absolute; left:50%; top:50%; margin:-11px 0 0 -7px; background:url(../images/item-gallery-list-arrows.png)}
.item-gallery-list-next span {background-position:-13px top}

footer {background:#085f3d}
.footer-inner {width:940px; margin:0 auto}
.footer-top {width:100%}
.footer-top:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.footer-logo {float:left; line-height:0; padding:54px 0 0 0}

.footer-map {float:left; padding:23px 0 0 67px}
.footer-map-img {float:left; line-height:0}
.footer-map-img img {display:none}
.footer-map-img img:first-child {display:block}
.footer-map-text {float:left; width:223px; padding:0 0 0 5px}
.footer-map-title {font:.9em/1.3em HelveticaNeueCyrRoman, sans-serif; color:#18ab62; padding:31px 0 0 0}
.footer-map-link {display:inline-block; vertical-align:top; text-decoration:none; font-size:.9em; line-height:1.3em; color:#fff}
.footer-map-link span {display:inline-block; vertical-align:middle; background:url(../images/dots-2.png) repeat-x left bottom}
.footer-map-link:hover span {background:none}
.footer-map-link img {vertical-align:middle; margin:0 0 0 4px}

.footer-address {float:left; padding:23px 0 0 0}
.footer-address-title {font:.9em/1.3em HelveticaNeueCyrRoman, sans-serif; color:#18ab62; padding:31px 0 0 0}
.footer-address-value {font-size:.9em; line-height:1.3em; color:#fff}
.footer-address-value span {color:#f6861f}

.footer-feedback-link {float:right; padding:55px 0 0 0; position:relative}
.footer-feedback-link a {display:inline-block; vertical-align:top; position:relative; color:#fff; text-decoration:none; font-family:HelveticaNeueCyrRoman, sans-serif; background:#f6861f; padding:4px 17px 6px 17px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
.footer-feedback-link a:hover {background:#f66b1f}
.footer-feedback-link a:active {background:#d45916}

.copyrights {font-size:.9em; color:#1ab157; padding:24px 0 37px 0}

.window-gallery {position:fixed; left:0; top:0; width:100%; height:100%; z-index:99997; overflow:auto}
.window-gallery-overlay {position:absolute; left:0; top:0; width:100%; height:100%; z-index:99998; background:#000; opacity:.9; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90)}
.window-gallery-container {position:absolute; z-index:99999; left:50%; top:50%}

.window {position:absolute; left:0; top:0; width:100%; height:100%; z-index:99997; overflow:auto}
.window-overlay {position:absolute; left:0; top:0; width:100%; height:100%; z-index:99998; background:#000; opacity:.8; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80)}
.window-container {position:absolute; z-index:99999; left:50%; top:50%}
.window-content {position:relative; background:#fff}
.window-close {display:block; position:absolute; right:-15px; top:-15px; width:29px; height:29px; background:url(../images/window-close.png)}
.window-close:hover {background-position:left -29px}
.window-close:active {background-position:left -58px}
.window .form-submit {padding-top:0; text-align:center}
.window label.error {position:absolute; left:auto; right:100%; top:-2px; color:#fff; white-space:nowrap; display:block; background:#f66b1f; padding:9px 15px 12px 15px}
.window .form-input-3 label.error {left:100%; right:auto}
.window h2+.message {margin-top:2em}

.loading {display:none; position:absolute; left:0; top:0; width:100%; height:100%}
.loading-bg {position:absolute; left:0; top:0; width:100%; height:100%; background:#fff; opacity:.75; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75)}
.loading-inner {position:absolute; left:50%; top:50%; width:220px; height:125px; margin:-62px 0 0 -110px; background:#f8fbfc}
.loading-img {text-align:center; line-height:0; margin:30px auto 0 auto; width:32px; height:32px; background:#fff url(../images/loading.png)}
.loading-text {text-align:center; padding:18px 0 0 0; color:#000}

.window .content {float:none; width:460px; padding:29px 40px 36px 40px}
.window .content h2 {margin-top:0}

@media (max-width:340px) {
    html {min-width:320px}

    body {min-width:320px}

    .wrapper {min-width:320px}

    .top {width:320px; padding:0 0 9px 0}
    .top-social {display:none}

    .top-img-visible {margin:10px 12px 0 0}
    .top-img-visible-title em {display:inline}
    .top-img-visible-title span {display:none}

    .top-scheme {float:right; margin:6px 50px 0 0}
    .top-scheme-title {display:none}

    .top-font-size {float:right; margin:6px 25px 0 0}
    .top-font-size-title {display:none}

    .header-inner {width:100%}

    .logo {left:10px; top:11px; width:auto; height:auto; background:none}
    .logo img {display:block; left:0; top:0}
    .logo img:first-child {display:none}

    nav {right:10px; top:18px; width:25px; height:14px; background:url(../images/nav-mini.png); z-index:9}
    nav ul {position:absolute; display:none; white-space:nowrap; right:0; top:14px; background:#008652; -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); box-shadow:1px 1px 5px rgba(0, 0, 0, .75); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
    nav.open ul {display:block}
    nav ul li {display:block; padding:0; height:auto}

    .subheader {display:none}

    .container {width:300px; position:relative}

    .side {float:none; position:absolute; z-index:2; left:-10px; top:0; padding:0; width:38px; height:35px}
    .container-news-detail .side {display:none}
    .side-menu {width:38px; height:35px; background:url(../images/side-menu-mini.png); position:relative}
    .side-menu ul {position:absolute; display:none; white-space:nowrap; left:38px; top:0; background:#fff; -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, .75); box-shadow:1px 1px 5px rgba(0, 0, 0, .75); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; behavior:url(./js/PIE.htc)}
    .side-menu.open ul {display:block}
    .side-menu ul li a {margin:0}
    .side-item {display:none}

    .content {width:100%; float:none}
    .content h1 {margin-left:48px}
    .content ul li {background:url(../images/li-mini.png) no-repeat left .5em}
    .content ul li ul li {background:url(../images/lili-mini.png) no-repeat left .5em}
    .content table {width:auto; overflow:auto}

    .form-input input {width:280px}
    .form-input label.error {display:none !important}
    .form-input-2 input {width:280px; margin:0}
    .form-input-3 input {width:280px}
    .form-input textarea {width:280px}
    .form-submit input {padding:0; width:100%}
    .form-select-1 {float:none; width:300px; margin-right:0}
    .form-select-2 {float:none; width:300px}
    .form-select label.error {display:none !important}
    .form-col {margin:2em 0 0 0; float:none}
    .files-list {display:none}
    .window-import-link {display:none}

    .bottom-inner {width:100%}
    .bottom-slider {overflow-x:scroll}
    .bottom-slider ul {margin:0 0 0 40px}
    .bottom-slider-ctrl {height:24px; background:url(../images/bottom-slider-touch.png) no-repeat center top}
    .bottom-slider-ctrl a {display:none}

    .footer-inner {width:100%}

    .footer-logo {display:none}

    .footer-map {float:none; background:#07462d; padding:24px 0 23px 0; width:100%}
    .footer-map:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .footer-map-img {float:right; line-height:0}
    .footer-map-img img {display:block}
    .footer-map-img img:first-child {display:none}
    .footer-map-text {width:auto; padding:0 0 0 20px}
    .footer-map-title {font-size:1.2em; padding:27px 0 0 0; margin-bottom:-5px}
    .footer-map-link {font-size:1.2em}
    .footer-map-link img {display:none}
    .footer-address {float:none; padding:0 20px 0 20px}
    .footer-address-title {font-size:1.2em}
    .footer-address-value {font-size:1.2em}
    .footer-feedback-link {float:none; padding:34px 0 0 0}
    .footer-feedback-link a {display:block; padding:6px 0 9px 0; text-align:center; font-size:1.2em; margin:0 10px}

    .copyrights {padding-left:20px; padding-right:20px}

    .window .content {padding-left:10px; padding-right:10px; width:300px}

    .slider {width:100%; margin-top:0}
    .slider-content ul li {width:320px}
    .slider-item {display:block; padding:207px 0 0 0; position:relative}
    .slider-item-text {display:block; vertical-align:middle}
    .slider-item-photo {display:block; width:320px; height:207px; padding:0; position:absolute; left:0; top:0; overflow:hidden}
    .slider-item-photo img {position:relative; width:100%; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0}
    .slider-item-title {text-transform:uppercase; color:#f6861f; font:1em/1.7em HelveticaNeueCyrRoman, sans-serif; padding:17px 20px 0 20px}
    .slider-item-title span {font-size:1.7em}
    .slider-item-anonce {font-size:.9em; padding:12px 20px 0 20px}
    .slider-item-ctrl {text-align:center}
    .slider-all {margin-top:30px}

    .main {width:320px}
    .main-item {float:none; border-top:1px solid #1a9264; padding:33px 0 50px 0}
    .main-item:first-child {border:none}

    .main-news {background-image:url(../images/main-news-bg-left-mini.png)}
    .main-news-inner {background-image:url(../images/main-news-bg-right-mini.png)}
    .main-news-wrap {width:300px; padding:34px 10px 44px 10px}
    .main-news-slider ul {width:auto}
    .main-news-slider ul li {float:none; width:300px; padding:0 0 19px 0}
    .main-news-slider ul li+li+li+li {display:none}
    .main-news-name {width:auto; font-size:.9em}
    .main-news-date {width:auto}
    .main-news-ctrl {display:none}
    .main-news-all {display:block}
    .main-news-all a {display:block; text-align:center; padding:8px 0 10px 0; font-size:1.2em}

    .team-detail {margin-left:0; display:none}
    .team-main .team-detail {display:block}
    .team-row {margin:0}
    .team-col {float:none; width:100%; margin:2em 0}
    .team-col:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .team-col:first-child {float:none; width:100%}

    .news-item-photo {display:none}
    .events .news-item-photo {float:none; display:block; margin:0 auto 27px auto}
    .news-item-container {margin-left:0}
    .news-item-name {font-size:1.2em}
    .news-item-anonce {font-size:.9em}
    .news-more {padding-left:0}
    .news-more a {display:block; text-align:center; padding-left:0; padding-right:0}

    .mobile-visible {display:block}

    .container-news-detail .content h1 {font-size:1.7em; line-height:1em; margin-left:0; text-align:left}
    .news-detail-date {font-size:1em}
    .container-news-detail .content h1.tours-title {text-align:center}

    .events-slider-container {width:280px}
    .events-slider-container ul li {width:280px}
    .events-slider-item-photo {display:none}
    .events-slider-item-title {font-size:1em}
    .events-slider-item-title span {font-size:1.7em}
    .events-slider-item-date {float:none}
    .events-slider-item-place {float:none; margin:0}
    .events-slider-item-ctrl {position:relative; font-size:0; line-height:0; letter-spacing:-1px; padding:26px 0 0 0}
    .events-slider-item-ctrl a {display:inline-block; position:relative; width:12px; height:12px; margin:0 3px; border:2px solid #fff; background:url(../images/blank.gif); -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; behavior:url(./js/PIE.htc)}
    .events-slider-item-ctrl a.active {background:#fff}

    .events-back  {display:none}
    .events-detail-info {width:100%; font-size:1em; line-height:2em; text-align:left}
    .events-detail-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
    .events-detail-info div {margin:0 30px 0 0; display:block; float:left; white-space:nowrap}

    .tours {width:100%}
    .tours-list {width:100%; margin:0}
    .tour {float:none; width:auto}
    .tour-wrap {border-left:none}
    .tours-list-end {display:none}
    .tours-more a {display:block; width:100%; padding-left:0; padding-right:0}

    .page-404 {width:276px; padding:70px 0 0 0}
    .page-404-title {font-size:1.7em}
    .page-404-text {padding:28px 0 0 0}

    .gallery-text {text-align:left}

    .gallery {width:100%; margin:0}
    .gallery-item {float:none; width:auto; height:auto; padding:20px 0}
    .gallery-item-photo {width:auto; height:auto; overflow:visible}
    .gallery-item-photo div {position:relative; left:auto; top:auto; margin:0; width:auto; height:auto; line-height:0}
    .gallery-item-photo div a {cursor:default}
    .gallery-item-photo div img {width:100%}
    .gallery-item-photo div span {display:none}
    .gallery-item-name {display:block; text-align:center; font-style:italic; padding:15px 0 0 0}
}

body.no-image img {visibility:hidden}
body.no-image * {background-image:none !important}
body.no-image .top-img-visible-checkbox {background-image:url(../images/checkbox.png) !important}